/* appoinment view.css */

.AppoinmentView {
    width: 100%;
    border-collapse: collapse;
  }
  
  .AppoinmentView th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .AppoinmentView th:first-child {
    border-top-left-radius: 5px;
  }
  
  .AppoinmentView th:last-child {
    border-top-right-radius: 5px;
  }
  
  .AppoinmentView th:not(:last-child) {
    border-right: none;
  }
  
  .AppoinmentViewe th:hover {
    background-color: #ddd;
  }