/* appointment view.css */

.AppointmentView {
    width: 100%;
    border-collapse: collapse;
  }
  
  .AppointmentView th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .AppointmentView th:first-child {
    border-top-left-radius: 5px;
  }
  
  .AppointmentView th:last-child {
    border-top-right-radius: 5px;
  }
  
  .AppointmentView th:not(:last-child) {
    border-right: none;
  }
  
  .AppointmentViewe th:hover {
    background-color: #ddd;
  }