.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  padding: 30px 60px;
}

.home-text {
  font-size: 40px;
  text-align: right;
  color: #ffffff;
  margin-right: 15px;
  margin-top: 20px;
  flex-basis: 100%; 
}

.home button {
  width: 260px;
  height: 250px;
  background: transparent;
  backdrop-filter: blur(30px);
  color: #fff;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  font-size: 20px;
  margin: 10px; 
}

.home a button img {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
