@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul { 
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    background-color: #001e4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(242, 242, 242);
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

header div {
    margin: 0 2rem;
    font-size: 50px;
}

.navbar-links li:hover {
    background-color: rgb(99, 138, 148);
    border-radius: 10px;
    padding: 5px 5px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

header nav li:hover {
    background-color: rgb(99, 138, 148);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 5px;
}

.profile-button-image {
    height: 50px;
    width: 50px;
    border-radius: 60px;
}

.profile-button {
    border-radius: 60px;
    background-color: transparent;
    position: relative; /* Ensure relative positioning */
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: small;
}

.profile-button:hover {
  border-radius: 60px;
  background-color: transparent;
  position: relative; /* Ensure relative positioning */
}

.dropdown-content a {
    display: block;
    color: #333;
    text-decoration: none;
    padding:6px ;
    font-size: medium;
  
}
